name: OWASP ZAP Full Scan

on:
  workflow_dispatch:

permissions:
  contents: read
  actions: write

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run ZAP Full Scan
        uses: zaproxy/action-full-scan@v0.4.0
        with:
          target: 'https://juice-shop.herokuapp.com'
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          fail_action: false
          allow_issue_writing: false
