name: Authenticated OWASP ZAP Full Scan

on:
  workflow_dispatch:

permissions:
  contents: read
  actions: write
  issues: write   # needed if you want ZAP to open GitHub issues

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run ZAP Full Scan with Auth
        uses: zaproxy/action-full-scan@v0.4.0
        with:
          target: https://juice-shop.herokuapp.com
          cmd_options: -c /zap/wrk/zap.yml
