name: ZAP Full Scan (TestFire)

on:
  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Run ZAP Full Scan
        uses: zaproxy/action-full-scan@v0.7.0
        with:
          target: https://demo.testfire.net
          cmd_options: -c /zap/wrk/zap.yml
          fail_action: false
          allow_issue_writing: false
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload ZAP Reports
        uses: actions/upload-artifact@v4
        with:
          name: zap-reports
          path: zap_reports/
