name: OWASP ZAP Baseline Scan

on:
  workflow_dispatch:

permissions:
  issues: write

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: 'http://testphp.vulnweb.com'
          cmd_options: '-a'
          artifact_name: 'zap-results'
