name: OWASP ZAP Baseline Scan

on:
  workflow_dispatch:

jobs:
  zap_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: 'https://juice-shop.herokuapp.com'
